DEBUG=1
SECRET_KEY=changeme
DATABASE_URL=postgres://USER:PASS@HOST:PORT/DBNAME
ALLOWED_HOSTS=localhost,127.0.0.1
SIMPLE_JWT_ACCESS_TOKEN_LIFETIME=3600
SIMPLE_JWT_REFRESH_TOKEN_LIFETIME=86400
SIMPLE_JWT_SIGNING_KEY=changeme
SIMPLE_JWT_ALGORITHM=HS256
