{
    email {$ACME_EMAIL}
    # acme_ca https://acme-v02.api.letsencrypt.org/directory  # default
}

{$APP_DOMAIN} {
    encode zstd gzip
    @health path /healthz
    handle @health {
        respond "ok" 200
    }

    reverse_proxy web:8000
}

:80 {
    @health path /healthz
    respond @health "ok" 200
    reverse_proxy web:8000
}
