{
    # Provide a default email so Caddy doesn't fail if ACME_EMAIL is unset
    email {$ACME_EMAIL:test@example.com}
    # acme_ca https://acme-v02.api.letsencrypt.org/directory  # default
}

{$APP_DOMAIN:localhost} {
    encode zstd gzip
    @health path /healthz
    handle @health {
        respond "ok" 200
    }

    reverse_proxy web:8000
}

:80 {
    @health path /healthz
    respond @health "ok" 200
    reverse_proxy web:8000
}
