Django>=4.2
whitenoise
gunicorn
djangorestframework
djangorestframework-simplejwt
django-filter
drf-spectacular
django-environ
django-grappelli
django-cors-headers
psycopg2-binary
dj-database-url

celery
redis
django-ratelimit
Pillow
flake8

opencv-python-headless
boto3
