{% extends "admin/base_site.html" %}
{% load i18n %}

{% block breadcrumbs %}
<div class="breadcrumbs">
  <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
  › <a href="{% url 'admin:app_list' 'attendance' %}">{% trans 'Attendance' %}</a>
  › {{ title }}
</div>
{% endblock %}

{% block content %}
<div id="content-main">
  <h1>{{ title }}</h1>
  <form method="post" class="form-horizontal">{% csrf_token %}
    <div class="module">
      {{ form.as_p }}
    </div>
    <div class="submit-row">
      <input type="submit" value="{% trans 'Generate' %}" class="default">
    </div>
  </form>
</div>
{% endblock %}
