{% extends "admin/change_list.html" %}

{% block object-tools-items %}
<li>
    <a href="{% url 'admin:capture_faceenrollment_clear_all_aws_faces' %}"
       class="button deletelink">Clear All Face Enrollments</a>
</li>
<li>
    <a href="{% url 'admin:capture_faceenrollment_generate_links' %}" class="button">
        Generate Face Enrollment Links
    </a>
</li>
{{ block.super }}
{% endblock %}

{% block content %}
<p><strong>Total AWS face enrollments:</strong> {{ aws_face_total }}</p>
{{ block.super }}
{% endblock %}

