{% extends "admin/change_list.html" %}

{% block object-tools-items %}
<li>
    <form action="{% url 'admin:capture_faceenrollment_clear_all_aws_faces' %}" method="post" style="display:inline">
        {% csrf_token %}
        <button type="submit" class="button">Clear All Face Enrollments</button>
    </form>
</li>
<li>
    <a href="{% url 'admin:capture_faceenrollment_generate_links' %}" class="button">
        Generate Face Enrollment Links
    </a>
</li>
{{ block.super }}
{% endblock %}

{% block content %}
<p><strong>Total AWS face enrollments:</strong> {{ aws_face_total }}</p>
{{ block.super }}
{% endblock %}

